* {
	font-size: 1em;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.6em;
	color: red;
}

h3 {
	font-size: 1.2em;
}

.param {
    color: green;
}

.vtbdef {
	color: blue;
}

.screenshot {
	border: 1px solid black;
}



